:root {
    --start-transform: 0deg;
    --end-transform: 720deg;
    --body-background-color: rgb(75, 76, 134);
    --main-background-color: rgb(111, 78, 143);
    --menu-background-color: rgb(123, 34, 206);
    --menu-background-color-hover: rgb(90, 30, 146);
    --wheel-background-color: #0a2373;
    --spin-background-color: rgb(17, 71, 121);
    --text-input-background-color: rgba(80, 88, 155, 0.452);
    --text-input-border-color: rgb(52, 50, 80);
    --scrollbar-track-color: #4e7aff98;
    --scrollbar-thumb-color: #473f8a;
    --pop-up-container-color: rgb(27, 29, 117);
    --color-change-background-color: #6d689b;
    --left-rotation: rotate(270deg);
    --right-rotation: rotate(90deg);
    --left-background-color: transparent;
}

@media (max-width: 660px) {

    .color-palate {
        width: 50px;
        height: 50px;
    }

    #color-change {
        height: 70px;
        width: 70px;
    }

    #arrow-left {
        top: 20px; 
        left: 12px;
    }

    #arrow-right {
        top: 20px; 
        right: 12px;
    }

    #arrow-container {
        top: 15px;
        height: 40px;
        width: 40px;
    }

    #wheel-container {
        width: 300px;
        height: 300px;
    }

    #main-container {
        flex-direction: column;
        width: 300px;
    }

    .wheel-divs, .wheel-lines {
        height: 150px;
        left: 150px;
    }

    #text-inputs {
        width: 250px;
        height: 500px;
    }

    .text-input, #items {
        width: 200px;
    }

    #menu {
        z-index: 2;
    }

    .arrows {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }

    #spin-again, #finished, #hide-current-name {
        font-size: 16px;
        text-align: center;
    }

}

@media (min-width: 1201px) {
    .color-palate {
        width: 100px;
        height: 100px;
        margin: 0;
        padding: 0;
    }

    #color-change {
        height: 120px;
        width: 120px;
    }

    #arrow-left {
        top: 35px; 
        left: 24px;
    }

    #arrow-right {
        top: 35px;
        right: 24px;
    }

    #arrow-container {
        top: 35px;
        height: 50px;
        width: 50px;
    }

    #wheel-container {
        width: 500px;
        height: 500px;
    }

    .wheel-divs, .wheel-lines {
        height: 250px;
        left: 250px;
    }

    #text-inputs {
        width: 400px;
        height: 500px;
    }

    .text-input, #items {
        width: 350px;
    }

    #menu-container {
        left: 1060px;
    }

    #menu {
        left: 940px;
    }

    .arrows {
        width: 50px;
        height: 50px;
        font-size: 25px;
    }

    #spin-again, #finished, #hide-current-name {
        font-size: 20px;
    }

}

@media (min-width: 661px) and (max-width: 1200px) {
    #root {
        height: auto;
    }

    #main-container {
        flex-direction: column;
    }

    .color-palate {
        width: 75px;
        height: 75px;
    }

    #color-change {
        height: 90px;
        width: 90px;
    }

    #arrow-left {
        top: 22px; 
        left: 12px;
    }

    #arrow-right {
        top: 22px;
        right: 12px;
    }

    #arrow-container {
        top: 35px;
        height: 50px;
        width: 50px;
    }

    #wheel-container {
        width: 500px;
        height: 500px;
    }

    .wheel-divs, .wheel-lines {
        height: 250px;
        left: 250px;
    }

    #text-inputs {
        width: 400px;
        height: 500px;
    }

    .text-input, #items {
        width: 350px;
    }

    #menu-container {
        left: 540px;
    }

    #menu {
        left: 415px;
    }

    .arrows {
        width: 50px;
        height: 50px;
        font-size: 25px;
    }

    #spin-again, #finished, #hide-current-name {
        font-size: 20px;
    }
    
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

#root {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

#app-container {
    background-color: var(--body-background-color);
    display: grid;
    grid-template-rows: 0.65fr 5fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s;
}

#title-container {
    grid-column: 1 / 3;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#title {
    padding: 0;
    margin: 0;
}

#item-container {
    grid-column: 1 / 3;
    display: flex;
}

#main-container {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    gap: 100px;
    background-color:var(--main-background-color);
    padding: 75px 50px;
    border-radius: 30px;
    transition: background-color 0.5s;
}

#menu {
    overflow: hidden;
    width: 150px;
    height: 0;
    background-color: transparent;
    position: absolute;
    top: 65px;
    margin: 0;
    padding: 0;
    box-shadow: 2px 2px 2px #3f3f3f;
    border: 1px solid #3f3f3f;
    transition-duration: 0.3s;
    visibility: hidden;
    opacity: 0;
}

#menu-click {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#menu-click:hover {
    cursor: pointer;
}

.menu-options1, .menu-options2 {
    width: 100%;
    background-color: var(--menu-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
    transition-duration: 0.35s;
}

.menu-options1 {
    height: 40px;
}

.menu-options2 {
    height: 80px;
}

.menu-options1:hover, .menu-options2:hover {
    background-color: var(--menu-background-color-hover);
    cursor: pointer;
}

.pointer-hover {
    cursor: pointer;
}

#menu-container {
    position: absolute;
    top: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
}

.menu-line {
    margin: 0;
    padding: 0;
    height: 10px;
    width: 40px;
    font-size: 60px;
    position: relative;
    top: -60px;
    left: 7px;
    transition-duration: 0.3s;
    transform-origin: 0px 60px;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#wheel-container {
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--wheel-background-color);
    box-shadow: 2px 2px 5px var(--wheel-background-color), -2px -2px 5px var(--wheel-background-color);
    transition: background-color 0.5s;
}

.wheel-text {
    transform: rotate(90deg);
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    height: auto;
    font-size: 40px;
}

.wheel-divs, .wheel-lines {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    color: white;
    width: 1px;
    transform-origin: bottom center;
}

.wheel-lines {
    background-color: white;
}

#text-label {
    display: block;
    color: white;
}

#text-inputs {
    overflow: auto;
    border: 2px solid white;
    padding: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(auto-fit, 30px);
    gap: 15px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: 10px;
    transition: background-color 0.5s;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 10px;
    transition: background-color 0.5s;
}

.text-input, #items {
    height: 30px;
    border: none;
    background-color: var(--text-input-background-color);
    border: 1px solid var(--text-input-border-color);
    font-size: 20px;
    color: white;
    transition: background-color 0.5s;
}

#items::placeholder {
    color: rgb(197, 197, 197);
}

.text-input:focus {
    outline: none;
}

.delete-button, #add-text {
    background: transparent;
    height: 34px;
    width: 30px;
    border: none;
    margin: 0;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button {
    color: red;
    font-size: 30px;
}

#add-text {
    color: rgb(63, 235, 63);
    font-size: 40px;
}

.spin-animation {
    animation: spin 4s ease-in-out 1;
}

@keyframes spin {
    0% { transform: rotate(var(--start-transform)); }
    100% { transform: rotate(var(--end-transform)); }
}

#start-spin {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    background-color: var(--spin-background-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: white;
    transition: background-color 0.5s;
}

#start-spin-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 0;
    border-bottom: 20px solid var(--spin-background-color);
    top: -12px;
    left: 15px;
    transition: border-color 0.5s;
}

#wheel-container-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-change {
    position: relative;
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
    background-color:var(--color-change-background-color);
    color: white;
    border-radius: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    font-size: 15px;
    transition-duration: 1s;
    overflow: hidden;
}

#arrow-container {
    position: absolute;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    transition-duration: 0.5s;
    font-size: 25px;
}

#arrow-left {
    transform: rotate(270deg);
    transition-duration: 1s;
    position: absolute;
}

#arrow-left:hover {
    transform: var(--left-rotation);
    background-color:var(--left-background-color);
}

#arrow-right {
    transform: rotate(90deg);
    transition-duration: 1s;
    position: absolute;
}

#arrow-right:hover {
    transform: var(--right-rotation);
    background-color:var(--left-background-color);
}

.arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.color-palate {
    grid-row: 1 / 3;
    align-self: center;
    display: flex;
    flex-direction: column;
    transition-duration: 0.7s;
    border: 0px solid rgb(255, 255, 255);
    visibility: hidden;
    opacity: 0;
}

.color-palate:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
    border: 4px solid rgb(255, 255, 255);
}

.color-examples {
    width: 100%;
    height: 25%;
}

#color-palate-1 {
    grid-column: 2 / 3;
}

#color-palate-2 {
    grid-column: 3 / 4;
}

#color-palate-3 {
    grid-column: 4 / 5;
}

#color-palate-4 {
    grid-column: 5 / 6;
}

#color-palate-1-color-1 {
    background-color: #0a2373;
}

#color-palate-1-color-2 {
    background-color: #184e80;
}

#color-palate-1-color-3 {
    background-color: #227d87;
}

#color-palate-1-color-4 {
    background-color: #45127a;
}

#color-palate-2-color-1 {
    background-color: #a02626;
}

#color-palate-2-color-2 {
    background-color: #9e4b32;
}

#color-palate-2-color-3 {
    background-color: #8b6512;
}

#color-palate-2-color-4 {
    background-color: #852d56;
}

#color-palate-3-color-1 {
    background-color: #145a0b;
}

#color-palate-3-color-2 {
    background-color: #004e2e;
}

#color-palate-3-color-3 {
    background-color: #25791e;
}

#color-palate-3-color-4 {
    background-color: #0f584c;
}

#color-palate-4-color-1 {
    background-color: #a82476;
}

#color-palate-4-color-2 {
    background-color: #920b5e;
}

#color-palate-4-color-3 {
    background-color: #920b43;
}

#color-palate-4-color-4 {
    background-color: #721866;
}

#black-screen {
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition-duration: 0.5s;
    visibility: hidden;
}

#win-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#add-input-exit-button {
    grid-column: 2 / 3;
    justify-self: right;
    margin: 10px 20px 0 0;
    font-size: 22px;
}

#add-input-confirm, #add-input-cancel {
    border: 2px solid var(--main-background-color);
    width: 100px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-family: inherit;
    font-size: 18px;
    justify-self: center;
    align-self: center;
    transition-duration: 0.5s;
    border-radius: 10px;
}

#add-input-confirm:hover, #add-input-cancel:hover {
    transform: scale(1.15);
}

#current-text, #new-text {
    resize: none;
    background-color: var(--pop-up-container-color);
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#win-container, #add-input-container, #delete-all-inputs {
    font-family: inherit;
    position: fixed;
    transition-duration: 0.35s;
    visibility: hidden;
    opacity: 0;
    background-color: var(--pop-up-container-color);
    border-radius: 5%;
    z-index: 99999;
}

#win-container, #add-input-container {
    max-width: 500px;
    min-width: 210px;
    max-height: 500px;
    width: 50vw;
    height: 50vh;
}

.add-input-text-labels {
    margin: 0;
    padding: 0;
}

#add-input-container {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 30px auto 70px;
    gap: 10px;
    padding: 10px;
}

#delete-all-inputs {
    text-align: center;
    width: 50%;
    max-width: 500px;
    height: 200px;
    display: grid;
    font-size: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 80px;
    padding: 10px;
    gap: 10px;
    color: white;
}

#delete-sure {
    grid-column: 1 / 3;
    justify-self: center;
    align-self: center;
}

.delete-all-inputs-buttons {
    width: 75px;
    height: 50px;
    border: 2px solid var(--main-background-color);
    background-color: transparent;
    color: white;
    font-family: inherit;
    font-size: 18px;
    transition-duration: 0.5s;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.delete-all-inputs-buttons:hover {
    transform: scale(1.15);
}

#win-exit-button {
    position: absolute;
    top: 10px;
    right: 3%;
    font-size: 20px;
    color: white;
}

#win-message {
    width: 80%;
    height: 40%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    flex-wrap: "wrap";
    gap: 10px;
}

#win-name {
    width: 380px;
}

#smaller-text {
    font-size: 20px;
}

#spin-again, #finished, #hide-current-name {
    width: 50%;
    height: 40px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
